html {
  font-family: $theme.font.family;
  font-size: $theme.font.size;
  color: $theme.colors.black;
}

#react-root {
  width: 100vw;
  height: 100vh;
}

.LinkAlike {
  cursor: pointer;
  color: $theme.colors.brand['500'];

  &:hover {
    color: $theme.colors.brand['400'];
  }
}